aerospike.host=<%= @aerospike_host %>
aerospike.port=<%= @aerospike_port %>
aerospike.summary.namespace=<%= @aerospike_summary_namespace %>
aerospike.guidmap.namespace=<%= @aerospike_guidmap_namespace %>
aerospike.summary.setname=<%= @aerospike_summary_setname %>
aerospike.guidmap.setname=<%= @aerospike_guidmap_setname %>
