log4j.rootLogger=<%= @log4j_rootLogger %>
log4j.appender.console = <%= @log4j_appender_console %>
log4j.appender.console.target=<%= @log4j.appender_console_target %>
log4j.appender.console.layout = <%= @log4j_appender_console_layout %>
log4j.appender.console.layout.ConversionPattern = <%= @log4j_appender_console_layout_ConversionPattern %>
log4j.logger.com.snapdeal.dis.consumer=<%= @log4j_logger_com_snapdeal_dis_consumer %>
